/*-----------------header, footer y body-----------------*/
.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

header {
    background-color: rgb(42, 42, 42);
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

footer {
    display: flex;
    justify-content: end;
}

body {
    font-family: roboto, Arial, sans-serif;
    background: linear-gradient(to right, rgba(211, 211, 211, 0.89), white);
    padding: 90px 20px 0px;
}
 
/*-----------------Seccion NAV-----------------*/

.home_nav {
    display: flex;
    justify-content: space-between;
}

.home_logo {
    font-size: 30px;
    display: flex;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    text-decoration: none;
    color: aliceblue;

}

.home_nav li {
    font-size: 20px;
    margin: 0 10px;
    line-height: 50px;
    text-transform: uppercase;
}

.home_nav-link {
    padding: 8px 12px;
    border-radius: 3px;
    text-decoration: none;
    color: aliceblue;
}

.home_nav ul {
    display: flex;
    margin-right: 40px;
    list-style: none;
    justify-content: space-between;
}

.home_nav-link:hover {
    background-color: #111;
}

/*-----------------Estilo de formulario Universal-----------------*/

.form_style-main {
    padding: 20px 0px;
    border-style: solid;
    height: max-content;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.form_style-tittle {
    text-align: center;
    padding-bottom: 10px;
    font-size: x-large;
    font-weight: 600;
}

.form_style {
    position: flex;
    text-align: center;
}

.form_style label {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    margin-bottom: 5px;
}

/*-----------------Estilo botón universal-----------------*/


.form_button {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    transition: all 700ms;
}

.form_button:hover {
    background: rgb(42, 42, 42);
    color: #fff !important;
}

/*-----------------Seccion Consulta universal-----------------*/

.consulta_style-search {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.consulta_style-search input {
    width: 300px;
    height: 50px;
    background: aliceblue;
    border-color: #000000;
    font-size: 10pt;
    color: #63717f;
    padding-left: 45px;
    border-radius: 5px;
    transition: all 700ms;
}

.consulta_style-search input:hover {
    background: rgb(42, 42, 42);
    color: #fff !important;
}

.consulta_style{
    text-align: center;
    padding-bottom: 10px;
    font-size: x-large;
    font-weight: 600;
}

.consulta_style-fieldset{
    display:flex;
    border-style: solid;
    width: fit-content;
    padding: 15px 15px;
    margin: 15px 5px;
}


.consulta_style-orden{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.consulta_style-padding{
    padding-right: 25px;
}
